/*Подключаем шрифт Ubuntu*/
@font-face {
	font-family: 'Ubuntu Bold'; 
	src: url(fonts/Ubuntu-Bold.ttf); 
}
@font-face {
	font-family: 'Ubuntu BoldItalic'; 
	src: url(fonts/Ubuntu-BoldItalic.ttf); 
}
@font-face {
	font-family: 'Ubuntu Italic'; 
	src: url(fonts/Ubuntu-Italic.ttf);
}
@font-face {
	font-family: 'Ubuntu Light'; 
	src: url(fonts/Ubuntu-Light.ttf) 
}
@font-face {
	font-family: 'Ubuntu LightItalic'; 
	src: url(fonts/Ubuntu-LightItalic.ttf);
}
@font-face {
	font-family: 'Ubuntu Medium'; 
	src: url(fonts/Ubuntu-Medium.ttf); 
}
@font-face {
	font-family: 'Ubuntu MediumItalic'; 
	src: url(fonts/Ubuntu-MediumItalic.ttf); 
}
@font-face {
	font-family: 'Ubuntu Regular'; 
	src: url(fonts/Ubuntu-Regular.ttf); 
}
/*Настройка ссылок*/
a { text-decoration: none;}
nav a:visited {  color: #4B5D68;}
nav a.highlighted_text:visited {  color: #212353;}
/*Настройка типов выделения, начертания текста*/
.highlighted_text { font-family:'Ubuntu Bold'; color: #212353; }
.usual_text_font {
	line-height: 173%;
    font-family: 'Ubuntu Regular';
    color: #4B5D68;
}