footer {
    width: 92%;
    display: flex;
    flex-wrap: wrap-reverse;
}
.dividing_line {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 99.6%;
    height: 2px;
    background-color: #9C69E2;
    opacity: 20%;
    left: 0;
}
.left_footer_info, .right_footer_info { margin-top: 8%; }
.company_info {
    display: flex;
    column-gap: 20px;
    margin-bottom: 12%;
}
.company_info h4 {
    margin: 0;
    font-size: 19px;
    height: 29px;
    align-self: end;
}
.company_info img { height: 35px; }
.contact_info {
    white-space: pre-line;
    font-size: 15px;
    font-family: 'Ubuntu Regular';
    color:#212353;
    margin: 0;
    padding: 0;
}
.contact_info p {
    padding: 0;
    margin: 0;
    line-height: 25px;
}
.company_rules {
    font-size: 11px;
    line-height: 20px;
    white-space: pre-line;
    font-family: 'Ubuntu Regular';
    color:#212353;
}
.right_footer_info { margin-left: auto; }
 .right_footer_info h4 {
     height: 30px;
     font-size: 15px;
 }
 .right_footer_info img{
     width: 50px;
     height: 50px;
     margin-right: 14px;
 }
 @media (max-width: 481px) {
    .right_footer_info { 
        margin-left: 0;
     }
     footer {
         padding-left: 5%;
     }
 }